.family {
  min-height: 470px;
  display: flex;
  padding: 6.4rem;
  max-width: 1400px;
  margin: 0 auto;
}

.family .mobile {
  display: none;
}

.family-left,
.family-right {
  width: 50%;
}

.family-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.family-left::after {
  content: '';
  display: block;
  width: 2px;
  height: 140px;
  background: var(--color-main);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.family-left img {
  width: 34.2rem;
  height: 34.2rem;
  border-radius: 2px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

@media (max-width: 425px) {
  .family-left img {
    width: 24.2rem;
    height: 24.2rem;
    border-radius: 2px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  }
}

.family-right,
.family-right div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.family-right div {
  align-items: flex-end;
}

.family-right h1 {
  max-width: 349px;
  font-size: 4rem;
  font-weight: bold;
  line-height: 4.7rem;
  text-align: right;
}

@media (max-width: 930px) {
  .family {
    flex-direction: column;
  }

  .family .mobile {
    display: flex;
    order: 3;
    align-self: center;
  }

  .family-left,
  .family-right {
    width: 100%;
  }

  .family-left {
    order: 2;
  }

  .family-left::after {
    display: none;
  }

  .family-right {
    order: 1;
  }

  .family-right h1 {
    text-align: center;
    margin-bottom: 3.2rem;
  }

  .family-right .cta {
    display: none;
  }
}

@media (max-width: 600px) {
  .family-right h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 425px) {
  .family-right h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
}
