header {
  min-height: 460px;
  background-image: url('../../img/mae-1-blur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  padding: 6.4rem;
}

@media (max-width: 540px) {
  header {
    background-image: url('../../img/mae-1-mobile.jpg');
    background-position: top center;
  }
}

header .window {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.logo-wrapper {
  display: inline-block;
  background: var(--color-main);
  padding: 0.8rem;
  border-radius: 2px;
  margin-bottom: 6.4rem;
}

.logo-wrapper img {
  width: 10rem;
}

.title-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-wrapper .title {
  color: var(--color-font-white);
  max-width: 295px;
  text-align: right;
  font-weight: bold;
}

.title-wrapper .cta {
  margin-left: 12rem;
}

@media (max-width: 670px) {
  .title-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .title-wrapper .title {
    color: var(--color-font-white);
    max-width: 350px;
    text-align: center;
    align-items: center;
  }

  .title-wrapper .cta {
    margin: 3.2rem auto;
  }
}
