header {
  min-height: 460px;
  background-image: url('../../img/mae-1-blur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 6.4rem;
}

.logo-wrapper {
  background: var(--color-main);
  padding: 0.8rem;
  border-radius: 2px;
  margin-bottom: 6.4rem;
}

.logo-wrapper img {
  width: 10rem;
}

.title-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-wrapper .title {
  color: var(--color-font-white);
  width: 295px;
  text-align: right;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4.7rem;
}

.title-wrapper .cta {
  margin-left: 12rem;
}
