.users {
  min-height: 1017px;
  background: var(--color-font);
  padding: 6.4rem;
}

@media (max-width: 570px) {
  .users {
    padding: 6.4rem 3.2rem;
  }
}

.users .title {
  color: var(--color-font-white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3.2rem;
}

.users-benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.users-benefits-left,
.users-benefits-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

@media (max-width: 1040px) {
  .users-benefits {
    flex-direction: column;
  }

  .users-benefits-right {
    margin-top: 6.4rem;
  }
}

@media (max-width: 670px) {
  .users-benefits-right img {
    width: 400px;
    height: 200px;
  }
}

@media (max-width: 500px) {
  .users-benefits-right img {
    width: 300px;
    height: 150px;
  }
}

@media (max-width: 500px) {
  .users-benefits-left,
  .users-benefits-right {
    width: 100%;
  }
}

.examples {
  margin-top: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.examples .title {
  max-width: 685px;
  text-align: center;
}

.slider-container {
  position: relative;
}

.slider-wrapper {
  width: 478px;
  height: 239px;
  overflow: hidden;
}

.btn-left,
.btn-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

.btn-left {
  left: -8.6rem;
}

.btn-right {
  right: -8.6rem;
  transform: translateY(-50%) rotate(180deg);
}

@media (max-width: 500px) {
  .btn-left,
  .btn-right,
  .btn-right img,
  .btn-left img {
    width: 40px;
  }

  .btn-left {
    left: -4.6rem;
  }

  .btn-right {
    right: -4.6rem;
  }
}

@media (max-width: 400px) {
  .btn-left,
  .btn-right {
    position: absolute;
    top: 100%;
    transform: initial;
    margin-top: 0.5rem;
  }

  .btn-left {
    left: -0.6rem;
  }

  .btn-right {
    right: -0.6rem;
    transform: rotate(180deg);
  }
}

.slider {
  display: flex;
  transition: 0.5s;
}

.comment {
  flex-shrink: 0;
  width: 478px;
  height: 239px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-font-white);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 1.6rem;
}

@media (max-width: 780px) {
  .slider-wrapper,
  .comment {
    width: 378px;
    height: 400px;
  }

  .comment {
    flex-direction: column;
  }
}

.comment-left img {
  width: 35px;
  height: 35px;
  margin-bottom: 4px;
}

@media (max-width: 670px) {
  .slider-wrapper,
  .comment {
    width: 278px;
    height: 450px;
  }
}

@media (max-width: 425px) {
  .slider-wrapper,
  .comment {
    width: 278px;
    height: 500px;
  }
}

.comment-left p {
  color: var(--color-main-dark);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.9rem;
  margin-right: 0.8rem;
}

.comment-left span:first-of-type {
  display: block;
  margin-top: 0.4rem;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.9rem;
  color: var(--color-main-dark);
}

.comment-left span:last-of-type {
  display: block;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.9rem;
  color: #c4c4c4;
}

@media (max-width: 670px) {
  .comment-left p,
  .comment-left span {
    text-align: center;
  }
}

.comment-right img {
  width: 115px;
  height: 115px;
  border-radius: 50%;
}

.users .cta {
  margin: 6.4rem auto 0;
  width: 30rem;
  text-align: center;
}
